body {
    padding: 50px;
    background-color: #C8E6C9 !important;
    font-family: Pacifico !important;
}

.statue {
    max-width: 100% !important;
    max-height: 362px !important;
}

.bookImg {
    max-width: 100% !important;
    max-height: 362px !important;
}